<!-- champion_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Champions</title>
</head>
<body>
    <h1>List of Champions</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <ul>
        {% for champion in champions %}
            <div class="champion">
                <h3>{{ champion.champion_id }}</h3> <!-- Nombre del campeón -->
                <p>Rol: {{ champion.role }}</p>
                <img src="{{ champion.image_url }}" alt="{{ champion.name }} image">
            </div>
        {% endfor %}

    </ul>
</body>
</html>
